<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeJrEGCngO_b-idwrpawHFtp9MuIMAZbg</string>
	<key>GCM_SENDER_ID</key>
	<string>456576840158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxwarbeck.flutterQrcodeScanner</string>
	<key>PROJECT_ID</key>
	<string>discovery-moebel-app</string>
	<key>STORAGE_BUCKET</key>
	<string>discovery-moebel-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456576840158:ios:7466d72fdfb80cb128ed4f</string>
</dict>
</plist>